.container_header {
    margin: auto;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
    img {
        width: 20%;
        object-fit: scale-down;
    }
}
.container_mainh {
    width: 100%;
    position: absolute;
}
