/*@font-face {
  font-family: "Agreloy";
  src: url(".../fonts/Agreloy.eot");
  src: url(".../fonts/Agreloy.eot?#iefix") format("embedded-opentype"),
    url(".../fonts/Agreloy.woff2") format("woff2"), url(".../fonts/Agreloy.woff") format("woff"),
    url(".../fonts/Agreloy.ttf") format("truetype");
}
@font-face {
  font-family: "Copperplate";
  src: url(".../fonts/OPTICopperplate.eot");
  src: url(".../fonts/OPTICopperplate.eot?#iefix") format("embedded-opentype"),
    url(".../fonts/OPTICopperplate.woff2") format("woff2"), url(".../fonts/OPTICopperplate.woff") format("woff"),
    url(".../fonts/OPTICopperplate.ttf") format("truetype");
}
*/



@font-face {
  font-family: "Poppins", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
}

h2 {
  font-family: "Agreloy" !important;
  font-size: 32px;
}

p {
  font-family: "Poppins", sans-serif;
}

.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.btn {
  background-color: #232322;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  transition: all 0.5s ease;
  /* font-family: "Copperplate";*/
  font-size: 16px;
  -webkit-box-shadow: 4px 4px 26px 0px rgba(122,122,122,0.6);
  -moz-box-shadow: 4px 4px 26px 0px rgba(122,122,122,0.6);
  box-shadow: 4px 4px 26px 0px rgba(122,122,122,0.6);
  &:hover {
    background-color: #3b3b3b;
    cursor: pointer;
  }
}

.containner_roulette{
  .btn{
    margin-top: 30px;
  }
}